{{eti-svg-icons}}
<ul class="eti-list" {{action focusNewInput bubbles=false}}>
  {{~#each tags as |tag index|~}}
    {{#if (and isEditTagsModeEnabled tag.editable)}}
      {{#if tag.editMode}}
        <li class="eti-tag eti-edit-tag {{tag.classNames}}" {{action focusEditInput bubbles=false}}>
          {{input
            class="eti-input eti-edit-input"
            value=tag.label
            placeholder=editTagInputPlaceholder
            maxlength=editTagInputMaxLength
            disabled=readOnly
            input=(action onEditTagInputInput tag index)
            enter=(action onEditTagInputEnter tag index)
            focus-out=(action onEditTagInputFocusOut tag index)
          }}
        </li>
      {{else}}
        <li class="eti-tag {{tag.classNames}}" {{action onTagClick tag bubbles=false}}>
          <div class="eti-tag-content">{{yield tag.label tag index this}}</div>
          {{#if (and showRemoveButtons (not readOnly))}}
            <div class="eti-tag-remove-button" {{action onRemoveTagAtIndex index bubbles=false}}>
              {{~#if tagRemoveButtonSvgId~}}
                <svg>
                  <use xlink:href="#{{tagRemoveButtonSvgId}}"></use>
                </svg>
              {{~/if~}}
            </div>
          {{/if}}
        </li>
      {{/if}}
    {{else}}
      <li class="eti-tag {{tag.classNames}}">
        <div class="eti-tag-content">{{yield tag.label tag index this}}</div>
        {{#if (and showRemoveButtons (not readOnly))}}
            <div class="eti-tag-remove-button" {{action onRemoveTagAtIndex index bubbles=false}}>
              {{~#if tagRemoveButtonSvgId~}}
                <svg><use xlink:href="#{{tagRemoveButtonSvgId}}"></use></svg>
              {{~/if~}}
            </div>
        {{/if}}
      </li>
    {{/if}}
  {{~/each~}}
  <li class="eti-tag eti-new-tag">
    {{input
      class="eti-input eti-new-input"
      value=newTagInputValue
      placeholder=newTagInputPlaceholder
      maxlength=newTagInputMaxLength
      disabled=readOnly
      keyDown=(action onNewTagInputKeyDown)
      input=(action onNewTagInputInput)
      enter=(action onNewTagInputEnter)
      focus-out=(action onNewTagInputFocusOut)
    }}
  </li>
</ul>
<div class="eti-input-buffer"></div>