<ul class="eti-list" {{action focusNewInput bubbles=false}}>
  {{~#each tags as |tag index|~}}
    {{#if isEditTagModeEnabled}}
      {{#if tag.editMode}}
        <li class="eti-tag eti-edit-tag {{tag.classNames}}" {{action focusEditInput bubbles=false}}>
          {{input
            class="eti-input eti-edit-input"
            value=tag.label
            disabled=readOnly
            placeholder=editInputPlaceholder
            keyDown=(action onEditInputKeyDown tag index)
            input=(action onEditInputInput)
            enter=(action onEditInputEnter)
            focusOut=(action onEditInputFocusOut tag index)
          }}
        </li>
      {{else}}
        <li class="eti-tag {{tag.classNames}}" {{action onTagClick tag bubbles=false}}>
          <div class="eti-tag-content">{{yield tag.label tag index this}}</div>
          <div class="eti-tag-remove-button" {{action onRemoveTagAtIndex index bubbles=false}}>
            {{~#if tagRemoveButtonSvgId~}}
              <svg>
                <use xlink:href="#{{tagRemoveButtonSvgId}}"></use>
              </svg>
            {{~/if~}}
          </div>
        </li>
      {{/if}}
    {{else}}
      <li class="eti-tag {{tag.classNames}}">
        <div class="eti-tag-content">{{yield tag.label tag index this}}</div>
        <div class="eti-tag-remove-button" {{action onRemoveTagAtIndex index bubbles=false}}>
          {{~#if tagRemoveButtonSvgId~}}
            <svg>
              <use xlink:href="#{{tagRemoveButtonSvgId}}"></use>
            </svg>
          {{~/if~}}
        </div>
      </li>
    {{/if}}
  {{~/each~}}
  <li class="eti-tag eti-new-tag">
    {{input
      class=(concat "eti-input eti-new-input" (if readOnly " eti-disabled"))
      disabled=readOnly
      placeholder=newInputPlaceholder
      keyDown=(action onNewInputKeyDown)
      input=(action onNewInputInput)
      enter=(action onNewInputEnter)
      focusOut=(action onNewInputFocusOut)
    }}
  </li>
</ul>
<div class="eti-input-buffer"></div>